body {
      background: rgb(183, 144, 201);
      overflow: hidden;
    }

    .estrela {
      position: absolute;
      width: 5px;
      height: 5px;
      background: white;
      border-radius: 50%;
      animation: flutuar 10s linear infinite;
    }

    @keyframes flutuar {
      from {
        transform: translateY(100vh);
        opacity: 1;
      }
      to {
        transform: translateY(-10vh);
        opacity: 0;
      }
    }
    h1 {
      text-align: center;
      color: rgb(102, 53, 103);
      font: bebas-neue, sans-serif;
      font-size: 3rem;
      margin-top: 20px;
    }
    .button {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      position: left;
      background-color: rgb(102, 53, 103);
      color: rgb(162, 114, 168);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-size: 1.0rem;
    }
    .button a {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #8e537c;
    font-weight: bold;
    color: #531263;
    }
    .button:hover {
      background-color: rgb(134, 42, 68);
      color: rgb(207, 100, 129);
      transition: background-color 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.2s;
      transform: scale(1.05);
    }