.aluno-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 15px;
        }
body {
 background-color:a#F9F9F9;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: #013750;
    font-size: 100px;
    top: 10px;
    left: 790px;
    position: absolute;
}
  .aluno-btn {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 150px;
            left: 880px;
        }
        .aluno-btn1 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 250px;
            left: 880px;
        }
        .aluno-btn2 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 350px;
            left: 880px;
        }
        .aluno-btn3 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 450px;
            left: 880px;
        }
        .aluno-btn4 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 550px;
            left: 880px;
        }
        .aluno-btn5 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 650px;
            left: 880px;
        }
        .aluno-btn6 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 150px;
            left: 700px;
        }
        .aluno-btn7 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 250px;
            left: 700px;
        }
        .aluno-btn8 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 350px;
            left: 700px;
        }
        .aluno-btn9 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 450px;
            left: 700px;
        }
        .aluno-btn10 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 550px;
            left: 700px;
        }
        .aluno-btn11 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 650px;
            left: 700px;
        }
        .aluno-btn12 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 150px;
            left: 1060px;
        }
        .aluno-btn13 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 250px;
            left: 1060px;
        }
        .aluno-btn14 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 350px;
            left: 1060px;
        }
        .aluno-btn15 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 550px;
            left: 1060px;
        }
        .aluno-btn16 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 450px;
            left: 1060px;
            }
        .aluno-btn17 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 650px;
            left: 1060px;
        }
        .aluno-btn18 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 19px;
            font-size: 23px;
            border-radius: 0px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 10;
        }
        .aluno-btn19 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 09px;
            font-size: 22px;
            border-radius: 0px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 60px;
            left: 0px;
            z-index: 10;
        }
        .aluno-btn20 {
            background-color: #013750;
            color: white;
            border: none;
            padding: 22px;
            font-size: 09px;
            border-radius: 0px;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: 104px;
            left: 0px;
            z-index: 10;
        }
        .barra-lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 7000px; /* largura da barra */
    height: 10vh; /* altura total da tela */
    background-color: #3E7D98; /* cor da barra lateral */
    }
    .aluno-btn18:hover {
    background-color: #74A7C0; /* versão mais escura do rosa */
    }
    .aluno-btn19:hover {
    background-color: #74A7C0; /* versão mais escura do rosa */
    }
    .aluno-btn20:hover {
    background-color: #74A7C0; /* versão mais escura do rosa */
    }
