.vermelho {color: red;}
.azul{color:blue}
.duende{color:rgb(42, 175, 42)}
.doutor{color:rgb(255, 215, 0)}
.venom{color:black}
.lagarto{color:rgb(20, 107, 20)}
.areia{color:rgb(194, 178, 128)}
.abutre{color:rgb(79, 128, 79)}
.mysterio{color:rgb(128, 0, 128)}
.rhino{color:rgb(128, 128, 128)}
.venom2{color:rgb(255, 0, 0)}
.electro{color:rgb(255, 255, 0)}

body {
    background-color: rgb(194, 194, 168);
}
 p {
      font-size: 18px;
    }
     li {
    font-size: 20px;
  }