   p {
     font-size: 20px;
     color: #A8F1FF;
     color: black;
     padding: 20px;



   }

   .inicio {

     position: relative;
     left: 0px;
     background-color: #B33791;
     padding: 10px;
     margin: 20px auto;
     width: 100px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     color: #ffffff;
     gap: 20px;
     display: block;
     margin: 0;


   }


   header {

     background-color: #B33791;
     border-radius: 8px;


   }

   img {

     background-color: #DB8DD0;
     border-radius: 8px;
     padding: 6x;
   }

   .cabecalho {
     padding: 10px;
     color: rgb(0, 0, 0);

   }


   body {
     font-family: Arial, sans-serif;
     padding: 20px;
   }

   .container {
     margin: 0 auto;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
     background-color: #f9f9f9;
   }



   h1 {
     color: rgb(255, 255, 255);
     padding: 40px;
     font-size: 30px;
     width: 100%;
     text-align: center;
     border-radius: 8px;


   }


   .button {
     background-color: #B33791;
     padding: 15px;
     width: 100%;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
     color: #FEC5F6;
     transition: transform 0.2s;
     font-family: "Merriweather", serif;
     text-align: center;


   }

   .eu {
     width: 300px;
     height: auto;
     margin: auto;
     border-radius: 10px;


   }


   #insta {
     position: relative;
     right: 20px;
   }

   .botao {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 60px;
     

   }

   .botaoinicio {
     position: relative;
     left: 0px;
     background-color: #B33791;
     padding: 10px;
     margin: 20px auto;
     width: 100px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     color: #ffffff;
     gap: 20px;
     display: block;
     margin: 0;

   }

   .rodape {
     background-color: #B33791;
     padding: 10px;
    text-align: center;
   }

   .img {
     display: flex;
     align-items: center;
     text-align: center;
     gap: 20px;
     padding: 10px;
     background-color: #FEC5F6;
     border-radius: 10px;
   }

   .caixa {
     background-color: #B33791;
     width: 300px;
     height: 60px;
     padding: center;
     border-radius: 10px;
     margin: auto;
   }