   p {
     font-size: 20px;
     color: #A8F1FF;
     color: black;
     padding: 20px;



   }

   .inicio {

     position: relative;
     left: 10px;
     background-color: #B33791;
     padding: 10px;
     margin: 20px auto;
     width: 100px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     color: #ffffff;
     gap: 20px;

   }


   header {

     background-color: #DB8DD0;
     border-radius: 8px;


   }

   img {

     background-color: #DB8DD0;
     border-radius: 8px;
     padding: 6x;
   }

   .cabecalho {
     padding: 10px;
     color: rgb(0, 0, 0);

   }


   .container {

     display: flex;

     gap: 10px;


   }

   body {
     background-color: #FEC5F6;
     padding: 0px;
     margin: 0;
     justify-content: center;
     /* Centraliza na horizontal */
     align-items: center;
     /* Centraliza na vertical */
     height: 100vh;
     /* Ocupa a altura total da janela */
      min-height: 100vh;
      text-align: center; 


   }


   h1 {
     color: rgb(255, 255, 255);
     padding: 40px;
     font-size: 30px;
     width: 100%;
     text-align: center;
     border-radius: 8px;


   }


   .button {
     background-color: #B33791;
     padding: 15px;
    margin: 20px auto;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    color: #FEC5F6;
    transition: transform 0.2s;
    font-family: "Merriweather", serif;
    text-align: center;


   }

   .imagem {
     display: flex;
     justify-content: center;

   }


   #insta {
     position: relative;
     right: 20px;
   }

   .botao{
    background-color: #B33791;
     padding: 20px;
     margin: 40px auto;
     width: 100px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     color: #ffffff;
     text-align: center;
     margin-top: 20px;
   }

   .botaoinicio {
     background-color: #B33791;
     padding: 20px;
     margin: 40px auto;
     width: 100px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     color: #ffffff;
     text-align: left;
     margin-top: 20px;

   }