 body {
            font-family: Arial, sans-serif;
            background-color: #af92cd;
            color: #333;
            margin: 0;
        }
        

        h1 {
            color: #3e0f5e;
        }

        h2 {
            color: #5e3443;
        }

        ol,
        ul {
            margin-left: 20px;
        }

        li {
            margin-bottom: 15px;
        }

        .gatos {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .btn {
            background-color: #5e3443;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
        }

        .spotify {
            background-color: #345e3f;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
        }
        img{
            border-radius: 10px;
        }
        * {
            margin: 0%;
            padding: 0px;
            box-sizing: border-box;
        }
        header {
      background-color: var(--primary-color);
      color: var(--text-light);
      padding: 1rem 1.5rem;
      position: sticky;
      top: 20px;
      z-index: 1000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        size-adjust: 100%;
        
    }
h1{
    text-align: center;
}
.titulo{
    text-align: center;
    border: 2px solid #361b1b;
    border-radius: 10px;
    width: 400px;
}
h1{
    background-color: #c89adc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.hero {
    background: url(index.html) no-repeat center center / cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--text-light);
    text-shadow: 2px 2px 8px rgba(98, 97, 97, 0.7);
}
.senac {
    background-color: #674576;
    color: #441b4f;
     font-size: 1.75rem;
      font-weight: 800;
      letter-spacing: 1px;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.informações {
    background-color: #582762;
    
    padding: 10px;
    margin: 10px auto;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #44164a;
    transition: transform 0.2s;
    font-family: 'arial black';
    text-align: center;
    
}
    .informações a {
    text-decoration: none;
    background-color: #8e537c;
    font-weight: bold;
    color: #531263;
}
.informações:hover {
    transform: scale(1.05);
    background-color: #7e4b60;
    color: #2c0d23;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
header{
    width: 100%;
    height: auto;
}
.rodape{
    background-color: #582762;
    color: #060506;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}
.botaos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
