body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #04ff00;
    font-weight: bold;
}

main {
    padding: 40px 20px;
}


h2 {
    font-size: 28px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

a {
    color: #04ff00;
    text-decoration: none;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;

}
li {
    font-size: 18px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

img.lado-a-lado {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #333;
}
button {
    background-color: #04ff00;
    color: #121212;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.boxpx {
    width: 300px;
}


.boxporcentagem {
    width: 50%;
}

.boxvw {
    width: 30%;
}

.container {
    display: flex;
    flex-direction: column;
}
.contatos{
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}