body{
    background-color: #000000;
    margin: 0;
  height: 100vh;
  background: radial-gradient(#e0e1dd, #e0e1dd);
  overflow: hidden;
}



h1{
    text-align: center;
    font-family: "Italiana", sans-serif;
    color: #415a77;
    margin-top: 30px;
    font-size: 3vw;
    /* background-color: #778da9; */
    padding: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}


.menu {
  margin-top: 30px;
  margin-left: 30px;
  position: absolute;
}

.menu .menu-lines {
  position: fixed;
  z-index: 999;
  width: 35px;
  height: 35px;

}

.menu-lines span {
  display: block;
  width: 35px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #415a77;
  border-radius: 3px;
  transition: all ease .2s;
}

.menu .menu-fake {
  position:fixed;
  z-index: 1000;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}

.menu .menu-fake:checked~.menu-lines span:nth-child(1) {
  transform-origin: 0% 0%;
  transform: rotate(45deg)scaleX(1.25);
}

.menu .menu-fake:checked~.menu-lines span:nth-child(2) {
  opacity: 0;
}

.menu .menu-fake:checked~.menu-lines span:nth-child(3) {
  transform: rotate(-45deg)scaleX(1.25);
  transform-origin: 0% 100%;
}

.menu ul {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 300px;
  background-color: #0d1b2a;
  height: 100vh;
  padding-top: 100px;
  margin-left: -350px;
  margin-top: 0;
  transition: all ease .4s;
}

.menu .menu-fake:checked~ul {
  margin-left: 0;
}

.menu ul li {
  padding: 10px 30px;

}

.menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 32px;
  margin-top: 300px;
  letter-spacing: 2px;
}

.menu ul li a:hover {
color: rgba(74, 74, 77, 0.988);
  transition: all ease .3s;
}

.container {
    z-index: 1000;
    width: 50vw;
    height: 30vw;
    background-color: #0d1b2a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw auto;
    border-radius: 2vw;
color: #ffffff;


}
.container h2 {
    font-size: 1.5vw;
    text-align:center ;
    padding: 5vw;
    line-height: -50vw;
    font-family: "Italiana", sans-serif;
}
.container h2 a {
    color: #ffffff;
    text-decoration: none;
}


body {
    background: #000000;
}
