* {
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#FFFADC;
}
.container{
    margin: auto;
    max-width: 800px;
    font-size: 25px
}
h1 {
    background-color: #a0c532;
    color: #FFFADC;
    padding: 35px;
    font-size: 45px
}
h2{
    margin: auto;
    color: #a0c532;
    font-size: 40px
}