.navbar {
        background-color: #333;
        overflow: hidden;
        padding: 10px 20px;
        text-align: right;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 14px 16px;
        display: inline-block;
    }

    .navbar a:hover {
        background-color: #575757;
    }

    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .content {
        padding: 10px; 
        flex: 1;
    }
    .wrapper{
        min-height: 67vh; 
        display: flex;
        flex-direction: column;
    }
    #senac{
        position:absolute;
        top: 2px;
        left: 20px;
        color: white;
        font-size: 20px;
    }
    footer {
  background-color: #222;
  color: #eee;
  text-align: center;
  font-family: Arial, sans-serif;
  height: 100px;
  padding: 10px;
margin-top: 23px;
}
footer div {
  max-width: 1200px;
  margin: 0 auto;
}
footer a {
  color: #eee;
  margin: 0 5px;
  text-decoration: none;
}
.instagram-link {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #222; 
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.instagram-link:hover {
  background-color: #222;
}

.instagram-link i {
  font-size: 20px;
}